@import "tailwindcss";

:root {
  --primary: #40BAD2;
  --primary-dark: #2A8FBB;
  --secondary: #FFFFFF;

  --primary-text: #FFFFFF;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);

  --color-primary-text: var(--primary-text);

  --animate-infinite-scroll: infinite-scroll 45s linear infinite;
  --animate-slide-in: slide-in 200ms ease-in;

  @keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  @keyframes slide-in {
    0% { transform: translateY(-50%); opacity: 0; }
    100% { transform: translateY(10); opacity: 1; }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
